@font-face {
  font-family: "Helveticaneucyr_black";
  src: url("../fonts/HelveticaNeueCyr-Black.eot") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Black.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Helveticaneucyr_bold";
  src: url("../fonts/HelveticaNeueCyr-Bold.eot") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Helveticaneucyr_medium";
  src: url("../fonts/HelveticaNeueCyr-Medium.eot") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Medium.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Helveticaneucyr_regular";
  src: url("../fonts/HelveticaNeueCyr-Roman.eot") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
html, body {
  padding: 0;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Helveticaneucyr_roman", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

.container {
  max-width: 1730px;
  margin: 0 auto;
  padding: 0 15px;
}

.body__container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.header {
  position: fixed;
  width: 100%;
  padding: 10px 0 8px 0;
  background-color: white;
  z-index: 20;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  width: 76px;
  height: auto;
}
.header__logo > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 805px;
  gap: 79.5px;
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 35px;
}
.header__nav-list > li {
  position: relative;
}
.header__nav-list > li::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #af2228;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header__nav-list > li:hover::before {
  width: 100%;
}
.header__nav-list > li > a {
  font-family: "Helveticaneucyr_regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #6F6F6F;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 621px;
  gap: 76px;
}
.header__right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 10px;
}
.header__whatsap {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 1px solid #E6E6E6;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
.header__whatsap > img {
  width: 31px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__btn {
  position: relative;
  font-family: "Helveticaneucyr_medium", sans-serif;
  font-weight: 500;
  line-height: 120%;
  font-size: 16px;
  color: #af2228;
  width: 285px;
  height: 60px;
  background-color: white;
  border: 1px solid #E6E6E6;
  border-radius: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 22px 64px;
  z-index: 2;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #af2228;
  border-radius: 1000px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: -1;
}
.header__btn:hover {
  color: #F9F9F9;
}
.header__btn:hover::before {
  width: 100%;
}
.header__phone {
  font-family: "Helveticaneucyr_medium", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  color: #181c25;
}

.hamburger {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #af2228;
  position: relative;
  z-index: 50;
  cursor: pointer;
  display: none;
}
.hamburger > span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #F9F9F9;
  width: 18px;
  height: 2px;
  border-radius: 20px;
}
.hamburger > span:first-child {
  top: 14px;
}
.hamburger > span:last-child {
  top: 26px;
}

.nav__mobile {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: #F9F9F9;
  padding: 53px 20px 32px 20px;
  z-index: 30;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.nav__mobile-list > li {
  margin-bottom: 35px;
}
.nav__mobile-list > li > a {
  font-family: "Helveticaneucyr_regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #6F6F6F;
}
.nav__mobile-phone {
  font-family: "Helveticaneucyr_medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  color: #181c25;
  margin-bottom: 16px;
}
.nav__mobile-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F9F9F9;
  border: 1px solid #E6E6E6;
  border-radius: 1000px;
  padding: 22px 0;
  font-family: "Helveticaneucyr_medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #af2228;
  margin-top: 16px;
}

.menu__active .nav__mobile {
  right: 0;
}
.menu__active .hamburger > span:first-child {
  top: 50%;
  left: 28%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}
.menu__active .hamburger > span:nth-child(2) {
  opacity: 0;
}
.menu__active .hamburger > span:last-child {
  top: 50%;
  left: 28%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.main {
  padding: 100px 0 60px 0;
}
.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main__left {
  padding: 85px 50px 54px 50px;
  width: 49.5%;
  background-color: #F9F9F9;
  border-radius: 20px;
}
.main__left-title {
  font-family: "Helveticaneucyr_medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 68px;
  line-height: 100%;
  text-transform: uppercase;
  color: #181c25;
  margin-bottom: 24px;
}
.main__left-title > span {
  color: #af2228;
}
.main__left-descr {
  font-family: "Helveticaneucyr_regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  color: #6F6F6F;
  margin-bottom: 53px;
  max-width: 587px;
}
.main__left-price {
  font-family: "Helveticaneucyr_medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
  color: #181c25;
  max-width: 515px;
  margin-bottom: 18px;
}
.main__left-price > span {
  color: #af2228;
}
.main__list {
  margin-bottom: 109px;
}
.main__list-item {
  margin-bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 10px;
  max-width: 670px;
}
.main__list-cyrcle {
  width: 16px;
  height: auto;
}
.main__list-cyrcle > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__list-text {
  font-family: "Helveticaneucyr_regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #181c25;
}
.main__btn {
  width: 100%;
  max-width: 563px;
  height: 70px;
  background-color: #af2228;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  font-family: "Helveticaneucyr_medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  color: #F9F9F9;
  padding: 5px;
  border-radius: 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.main__btn > img {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 61px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #181c25;
  border-radius: 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: -1;
}
.main__btn:hover {
  z-index: 1;
}
.main__btn:hover::before {
  width: 100%;
}
.main__right {
  background-image: url("../img/sertification-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 741px;
  border-radius: 15px;
  overflow: hidden;
  padding: 153px 15px 40px 15px;
}
.main__right-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-bottom: 77px;
}
.main__right-item {
  width: 265px;
  height: 365px;
  background-color: #E6E6E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
}
.main__right-item > img {
  width: 246px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.main__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  row-gap: 14px;
}
.main__advantages-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 11px 10px;
  background-color: #F9F9F9;
  border-radius: 100px;
}
.main__advantages-title {
  font-family: "Helveticaneucyr_medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  color: #181c25;
  margin-left: 8px;
}

@media (max-width: 1625px) {
  .container {
    max-width: 1550px;
  }
  .main__left-title {
    font-size: 55px;
  }
  .main__advantages-title {
    font-size: 16px;
  }
  .main__advantages-item {
    padding: 8px 5px;
  }
  .main__right {
    height: 720px;
  }
  .main__right-item {
    width: 230px;
    height: 300px;
  }
  .main__right-item > img {
    width: 200px;
  }
}
@media (max-width: 1550px) {
  .container {
    max-width: 1470px;
  }
  .header__left {
    gap: 40px;
  }
  .header__right {
    gap: 40px;
  }
  .main__left-descr {
    font-size: 20px;
  }
  .main__list-text {
    font-size: 16px;
  }
  .main__right {
    height: 705px;
  }
}
@media (max-width: 1470px) {
  .container {
    max-width: 1400px;
  }
  .main__right {
    height: 716px;
  }
}
@media (max-width: 1400px) {
  .container {
    max-width: 1320px;
  }
  .header__left {
    gap: 30px;
  }
  .header__right {
    gap: 30px;
  }
  .header__nav-list {
    gap: 20px;
  }
  .header__phone {
    font-size: 20px;
  }
  .header__whatsap {
    width: 45px;
    height: 45px;
  }
  .header__whatsap > img {
    width: 28px;
  }
  .header__btn {
    width: 230px;
    height: 45px;
    padding: 22px;
  }
  .main__left-descr {
    font-size: 20px;
  }
  .main__list-text {
    font-size: 16px;
  }
  .main__right {
    height: 705px;
  }
}
@media (max-width: 1320px) {
  .container {
    max-width: 1200px;
  }
  .header__logo {
    width: 60px;
  }
  .header__left {
    gap: 20px;
  }
  .header__nav-list li > a {
    font-size: 16px;
  }
  .header__right {
    gap: 20px;
  }
  .header__phone {
    font-size: 18px;
  }
  .header__whatsap {
    width: 35px;
    height: 35px;
  }
  .header__whatsap > img {
    width: 23px;
  }
  .header__btn {
    width: 175px;
    height: 35px;
    padding: 0 15px;
  }
  .main__left-title {
    font-size: 45px;
  }
  .main__left-descr {
    font-size: 18px;
  }
  .main__left-price {
    font-size: 20px;
  }
  .main__list-text {
    font-size: 14px;
  }
  .main__right {
    height: 683px;
  }
  .main__right-item {
    width: 185px;
    height: 260px;
  }
  .main__right-item > img {
    width: 175px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 1024px;
  }
  .header__nav {
    display: none;
  }
  .header__phone {
    display: none;
  }
  .header__btn {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .main__left {
    padding: 55px 50px 54px 50px;
  }
  .main__left-title {
    font-size: 35px;
  }
  .main__left-descr {
    margin-bottom: 51.2px;
  }
  .main__list {
    margin-bottom: 110px;
  }
  .main__right {
    padding: 50px 15px 40px 15px;
  }
  .main__right-item {
    width: 265px;
    height: 365px;
  }
  .main__right-item > img {
    width: 246px;
  }
  .main__right-item:nth-child(2) {
    display: none;
  }
  .main__right-item:last-child {
    display: none;
  }
}
@media (max-width: 993px) {
  .main__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .main__left {
    width: 100%;
  }
  .main__right {
    width: 100%;
  }
  .main__right-item:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 765px) {
  .main__left-descr {
    margin-bottom: 40px;
  }
  .main__list {
    margin-bottom: 60px;
  }
}
@media (max-width: 556px) {
  .main__right-wrapper {
    margin-bottom: 60px;
  }
  .main__right-item:last-child {
    display: none;
  }
}
@media (max-width: 450px) {
  .container {
    padding: 0 10px;
  }
  .main__left {
    padding: 35px 16px;
  }
  .main__left-title {
    margin-bottom: 10px;
  }
  .main__left-descr {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .main__left-price {
    font-size: 15px;
  }
  .main__list {
    margin-bottom: 40px;
  }
  .main__right {
    padding: 20px 16px;
    height: 557px;
  }
  .main__right-wrapper {
    margin-bottom: 26px;
  }
  .main__right-item:last-child {
    display: none;
  }
  .main__btn {
    height: 50px;
  }
  .main__btn > img {
    width: 40px;
  }
  .main__advantages {
    row-gap: 10px;
  }
  .main__advantages-item {
    width: 308px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 5px 12px 5px 10px;
  }
  .main__advantages-title {
    font-size: 13px;
  }
}
@media (max-width: 350px) {
  .main__left {
    padding: 20px 10px;
  }
  .main__left-title {
    font-size: 30px;
  }
}/*# sourceMappingURL=style.css.map */