@media(max-width: 1800px) {
    .container {
        max-width: 1625px;
    }
    .services {
        max-width: 1625px;
        &__cards {
            grid-template-columns: repeat(3, 500px);
        }
        &__card {
            &-title {
                font-size: 28px;
            }
            &-descr {
                font-size: 16px;
            }
        }
        &__list {
            &-information {
                font-size: 16px;
            }
        }
        &__category {
            &-title {
                font-size: 16px;
            }
            &-list {
                font-size: 14px;
            }
        }
    }
    .additional {
        &__title {
            font-size: 26px;
            margin-bottom: 30px;
        }
        &__item {
            &-text {
                font-size: 20px;
            }
        }
    }
}
@media (max-width: 1625px) {
    .container {
        max-width: 1550px;
    }
    .main {
        &__left {
            &-title {
                font-size: 55px;
            }
        }
        &__advantages {
            &-title {
                font-size: 16px;
            }
            &-item {
                padding: 8px 5px;
            }
        }
        &__right {
            height: 720px;
            &-item {
                width: 230px;
                height: 300px;
                & > img {
                    width: 200px;
                }
            }
        }
    }
    .services {
        max-width: 1550px;
        &__cards {
            grid-template-columns: repeat(3, 450px);
        }
    }
}
@media (max-width: 1550px) {
    .container {
        max-width: 1470px;
    }
    .header {
        &__left {
            gap: 40px;
        }
        &__right {
            gap: 40px;
        }
    }   
    .main {
        &__left {
            &-descr {
                font-size: 20px;
            }
        }
        &__list {
            &-text {
                font-size: 16px;
            }
        }
        &__right {
            height: 705px;
        }
    }
    .services {
        max-width: 1470px;
    }
}
@media (max-width: 1470px) {
    .container {
        max-width: 1400px;
    }
    .main {
        &__right {
            height: 716px;
        }
    }
    .advantages {
        &__item {
            height: 280px;
            &-img {
                margin-bottom: 60px;
            }
            &-title {
                font-size: 22px;
            }            
            &-descr {
                font-size: 16px;
            }
        }
    }
    .services {
        max-width: 1400px;
    }
}
@media (max-width: 1400px) {
    .container {
        max-width: 1320px;
    }
    .header {
        &__left {
            gap: 30px;
        }
        &__right {
            gap: 30px;           
        }
        &__nav {
            &-list {
                gap: 20px;
            }
        }
        &__phone {
            font-size: 20px;
        }
        &__whatsap {
            width: 45px;
            height: 45px;
            & > img {
                width: 28px;
            }
        }
        &__btn {
            width: 230px;
            height: 45px;
            padding: 22px;
        }
    }
    .main {
        &__left {
            &-descr {
                font-size: 20px;
            }
        }
        &__list {
            &-text {
                font-size: 16px;
            }
        }
        &__right {
            height: 705px;
        }
    }
    .services {
        max-width: 1320px;
        &__cards {
            grid-template-columns: repeat(3, 400px);
        }
    }
}
@media(max-width: 1320px) {
    .container {
        max-width: 1200px;
    }
    .header {
        &__logo {
            width: 60px;
        }
        &__left {
            gap: 20px;
        }
        &__nav {
            &-list {
                li > a {
                    font-size: 16px;
                }
            }
        }
        &__right {
            gap: 20px;
        }
        &__phone {
            font-size: 18px;
        }
        &__whatsap {
            width: 35px;
            height: 35px;
            & > img {
                width: 23px;
            }
        }
        &__btn {
            width: 175px;
            height: 35px;
            padding: 0 15px;
        }
    }
    .main {
        &__left {
            &-title {
                font-size: 45px;
            }
            &-descr {
                font-size: 18px;
            }
            &-price {
                font-size: 20px;
            }
        }
        &__list {
            &-text {
                font-size: 14px;
            }
        }
        &__right {
            height: 683px;
            &-item {
                width: 185px;
                height: 260px;
                & > img {
                    width: 175px;
                }
            }
        }
    }
    .services {
        max-width: 1200px;
        &__cards {
            grid-template-columns: repeat(2, 520px);
        }
    }
}
@media (max-width:1200px) {
    .container {
        max-width: 1024px;
    }
    .header {
        &__nav {
            display: none;
        }
        &__phone {
            display: none;
        }
        &__btn {
            display: none;
        }
    }
    .hamburger {
        display: block;
    }
    .main {
        &__left {
            padding: 55px 50px 54px 50px;
            &-title {
                font-size: 35px;
            }
            &-descr {
                margin-bottom: 51.2px;
            }
        }
        &__list {
            margin-bottom: 110px;
        }
        &__right {
            padding: 50px 15px 40px 15px;
            &-item {
                width: 265px;
                height: 365px;
                & > img {
                    width: 246px;
                }
                &:nth-child(2) {
                    display: none;
                }
                &:last-child {
                    display: none;
                }
            }
        }
    }
    .advantages {
        &__item {
            height: 240px;
            &-img {
                width: 60px;
                height: 60px;
                margin-bottom: 40px;
            }
            &-title {
                font-size: 16px;
            }
            &-descr {
                font-size: 12px;
            }
        }
    }
    .services {
        padding: 30px 0;
        max-width: 993px;
        &__title {
            font-size: 30px;
        }
        &__subtitle {
            font-size: 16px;
        }
        &__cards {
            grid-template-columns: repeat(2, 450px);
        }
    }
}
@media (max-width:993px) {
    .main {
        &__wrapper {
            flex-direction: column;
            gap: 10px;
        }
        &__left {
            width: 100%;
        }
        &__right {
            width: 100%;
            &-item {
                &:last-child {
                    display: flex;
                }
            }
        }
    }
    .services {
        &__cards {
            display: none;
            &-swiper {
                display: block;
            }
        }
        &__btn {
            font-size: 14px;
            padding: 20px 0;
            &-arrow {
                width: 50px;
                height: 50px;
            }
        }
        &__header {
            margin-bottom: 30px;
        }
        &__subheader {
            display: flex;
            margin-bottom: 20px;
        }
    }
    .additional {
        &__item {
            padding: 10px;
            &-text {
                font-size: 14px;
            }
        }
    }
    
}
@media (max-width:765px) {
    .main {
        &__left {
            &-descr {
                margin-bottom: 40px;
            }
        }
        &__list {
            margin-bottom: 60px;
        }
    }
    .services {
        min-height: 1148px;
        &__header {
            align-items: start;
            flex-direction: column;
            gap: 10px;
        }
        &__card {
            height: 400px;
            &-title {
                font-size: 18px;
                margin-bottom: 16px;
            }
            &-descr {
                font-size: 16px;
            }
        }
        &__category {
            &-link {
                display: none;
            }
        }
        &__btn {
            font-size: 14px;
            padding: 10px;
            justify-content: start;
            line-height: 120%;
            text-align: left;
            &-text {
                max-width: 220px;
                
            }
            &-arrow {
                width: 40px;
                height: 40px;
            }
        }
    }
    .advantages {
        &__wrapper {
            flex-direction: column;
            gap: 10px;
        }
        &__item {
            width: 100%;
            height: 240px;
            &-title {
                font-size: 26px;
            }
            &-descr {
                font-size: 18px;
            }
        }
    }
}
@media (max-width:556px) {
    .main {
        &__right {
            &-wrapper {
                margin-bottom: 60px;
            }
            &-item {
                &:last-child {
                    display: none;
                }
            }
        }
    }
    .services {
        &__container {
            padding: 40px 16px;
        }
        &__card {
            width: 300px;
            height: 316px;
            padding: 20px 16px;
            &-title {
                font-size: 22px;
                margin-bottom: 5px;
            }
            &-descr {
                font-size: 14px;
                margin-bottom: 20px;
            }
            &-list {
                margin-bottom: 20px;
            }
        }
        &__list {           
            &-item {
                margin-bottom: 10px;
            }
            &-information {
                font-size: 14px;
            }
        }
        &__category {
            &-title {
                font-size: 14px;
            }
        }
    }
    .additional {
        padding: 26px 16px;
    }
}
@media (max-width:450px) {
    .container {
        padding: 0 10px;
    }
    .header {
        padding: 5px 0;
        &__logo {
            height: 60px;
        }
    }
    .main {
        padding: 76px 0 20px 0;
        &__left {
            padding: 35px 16px;
            &-title {
                margin-bottom: 10px;
            }
            &-descr {
                font-size: 16px;
                margin-bottom: 30px;
            }
            &-price {
                font-size: 15px;
            }
        }
        &__list {
            margin-bottom: 40px;
        }
        &__right {
            padding: 20px 16px;
            height: 557px;
            &-wrapper {
                margin-bottom: 26px;
            }
            &-item {                
                &:last-child {
                    display: none;
                }
            }
        }
        &__btn {
            height: 50px;
            & > img {
                width: 40px;
            }
        }
        &__advantages {
            row-gap: 10px;
            &-item {
                width: 308px;
                justify-content: start;
                padding: 5px 12px 5px 10px;
            }
            &-title {
                font-size: 13px;
            }
        }
    }
    .advantages {
        padding: 20px 0;
        &__item {
            width: 100%;
            height: 172px;
            padding: 16px;
            &-img {
                width: 45px;
                height: 45px;
                margin-bottom: 24px;
            }
            &-title {
                font-size: 20px;
                margin-bottom: 5px;
            }
            &-descr {
                font-size: 14px;
            }
        }
    }
    .services {
        &__container {
            padding: 45px 10px;
        }
    }
}
@media (max-width: 350px) {
    .main {
        &__left {
            padding: 20px 10px;
            &-title {
                font-size: 30px;
            }
        }
    }
    .advantages {
        &__item {
            width: 100%;
            height: 172px;
            padding: 12px;
            &-img {
                width: 45px;
                height: 45px;
                margin-bottom: 24px;
            }
            &-title {
                font-size: 16px;
                margin-bottom: 5px;
            }
            &-descr {
                font-size: 12px;
            }
        }
    }
}