html, body {
    padding: 0;
    margin: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helveticaneucyr_roman', sans-serif;
    font-weight: 400;
}
a {
    text-decoration: none;
}
button {
    border: none;
    cursor: pointer;
}
ul {
    list-style: none;
}